@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* TODO WEBSITE */
body {
  background-color: #ececec;
  font-family: Poppins;
}

.mobile {
  display: none;
}

#top_header {
  height: 50px;
  width: 100%;
  background-color: #ececec;
}

#top_header div {
  margin-top: 14px;
  margin-bottom: 12px;
  color: #c9944f;
}

#top_header div .span1 {
  font-weight: 400;
  margin-left: 20px;
}

#top_header div .span2 {
  font-weight: 500;
}

#top_header div img {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 20px;
}

#header {
  height: 50px;
  width: 103%;
  text-align: center;
  background-color: white;
}

#header a {
  font-size: 36px;
  font-weight: 400;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar {
  height: 65px;
  width: 103%;
  background-color: white;
}

#navbar .nav {
  margin-right: 55px;
}

#navbar ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

#navbar ul li a {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

#navbar .active {
  color: #e4b373;
  font-weight: 600;
}

#navbar form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detail_produk {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.detail_produk div {
  margin-top: 14px;
  font-size: 32px;
}

.detail_produk div .span1 {
  font-weight: 500;
}

.detail_produk div .garis {
  border: 2px solid #e4b373;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  width: 235px;
}

.judul_baris {
  margin-top: 30px;
}

.judul_baris div {
  margin-top: 14px;
  font-size: 24px;
}

.judul_baris div .span1 {
  font-weight: 300;
  margin-left: 23px;
}

.judul_baris div .span2 {
  font-weight: 500;
}

.judul_baris div .garis {
  border: 2px solid #e4b373;
  margin-left: 23px;
  margin-top: -5px;
}

.judul_baris div .garis.produk {
  width: 95px;
}

.judul_baris div .garis.harga {
  width: 80px;
}

.judul_baris div .garis.rekomendasi {
  width: 160px;
}

.judul_baris div .span3 {
  font-size: 20px;
  font-weight: 500;
  color: #e4b373;
  float: right;
  margin-right: 23px;
}

.judul_baris div .span3 img {
  margin-left: 14px;
  width: 8px;
  height: 14px;
}

.item_produk {
  width: 1750px;
  margin-top: 20px;
  margin-right: 40px;
}

.item_produk .div1 {
  width: 252px;
  height: 317px;
  background-color: #f4f4f4;
  border-radius: 12px;
  margin-left: 18px;
  margin-right: 20px;
}

.item_produk img {
  width: 252px;
  height: 235px;
  border-radius: 12px;
}

.item_produk .div2 {
  margin-left: 10px;
  margin-right: 10px;
}

.item_produk .title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.item_produk .div3 {
  margin-left: 10px;
  margin-top: 13px;
}

.item_produk .harga {
  font-size: 18px;
  font-weight: 300;
  color: #c9944f;
}

.item_produk a {
  font-size: 14px;
  font-weight: 500;
  background-color: #e4b373;
  color: white;
  border-radius: 8px;
  float: right;
  margin-right: 23px;
}

.item_promo {
  width: 1750px;
  margin-top: 20px;
}

.item_promo .div1 {
  width: 252px;
  height: 320px;
  background-color: #f4f4f4;
  border-radius: 12px;
  margin-left: 18px;
  margin-right: 20px;
}

.item_promo img {
  width: 252px;
  height: 235px;
  border-radius: 12px;
}

.item_promo .div2 {
  margin-left: 10px;
  margin-right: 10px;
}

.item_promo .title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.item_promo .div3 {
  margin-left: 10px;
  margin-top: 5px;
}

.item_promo .div4 {
  margin-left: 10px;
  margin-top: -8px;
}

.item_promo .promo {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}

.item_promo .coret {
  border: 1px solid #808080;
  width: 80px;
  float: right;
  margin-right: 170px;
  margin-top: -12px;
}

.item_promo .harga {
  font-size: 18px;
  font-weight: 300;
  color: #c9944f;
}

.item_promo a {
  font-size: 14px;
  font-weight: 500;
  background-color: #e4b373;
  color: white;
  border-radius: 8px;
  float: right;
  margin-right: 23px;
  margin-top: -10px;
}

.wrapper {
  /*background:#EFEFEF; */
  /*box-shadow: 1px 1px 10px #999; */
  /* margin: auto; */
  /*text-align: center; */
  position: relative;
  /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
  margin-bottom: 20px !important;
  width: 97%;
  padding-top: 5px;
  margin-left: 20px;
  margin-right: 40px;
}
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 370px;
}
.imageDiv img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#detail {
  width: 98%;
}

#detail .divImage {
  margin-right: -1%;
}

#detail .divImage img {
  width: 100%;
  min-height: 500px;
  margin-left: 60px;
  border-radius: 12px;
}

#detail .divDetail {
  background-color: #e4b373;
  border-radius: 12px;
  padding-left: 40px;
  padding-top: 22px;
}

#detail .title {
  font-size: 24px;
  font-weight: 500;
}

#detail .diskon {
  margin-left: -14px;
  margin-top: 12px;
}

#detail .diskon span {
  font-size: 20px;
  font-weight: 300;
  color: #808080;
}

#detail .diskon hr {
  border: 1px solid #808080;
  width: 105px;
  margin-left: 0px;
  margin-top: -15px;
}

#detail .harga {
  margin-left: -14px;
  margin-top: 7px;
}

#detail .harga span {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

#detail .ukuran {
  margin-top: 12px;
  text-align: center;
}

#detail .ukuran span {
  font-size: 20px;
  font-weight: 400;
}

#detail .pesan {
  margin-top: 10px;
  text-align: center;
}

#detail .pesan span {
  font-size: 20px;
  font-weight: 400;
}

#detail .title_desk {
  margin-left: -14px;
  margin-top: 12px;
}

#detail .title_desk span {
  font-size: 20px;
  font-weight: 400;
}

#detail .deskripsi {
  margin-left: -14px;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: justify;
}

#detail .deskripsi span {
  font-size: 14px;
  font-weight: 400;
}

/* TODO POTRAIT PHONES */
@media (max-width: 575.98px) {
  .website {
    display: none;
  }

  .mobile {
    display: block;
  }

  #header_mobile {
    height: 55px;
    width: 103%;
    margin-top: -12px;
    background-color: white;
  }

  #header_mobile .title {
    margin-top: 14px;
    width: 100%;
  }

  #header_mobile a {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: 20px;
  }

  #header_mobile .title2 {
    margin-top: -2px;
    width: 100%;
    margin-left: 20px;
  }

  #header_mobile div .span1 {
    font-weight: 400;
    font-size: 11px;
    color: #c9944f;
  }

  #header_mobile div .span2 {
    font-weight: 500;
    font-size: 11px;
    color: #c9944f;
  }

  #header_mobile .justify-content-end {
    margin-right: 15px;
    margin-top: 5px;
  }

  #header_mobile div img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }

  .judul_baris div {
    margin-top: -10px;
    font-size: 15px;
  }

  .judul_baris div .span1 {
    font-weight: 300;
    margin-left: 20px;
  }

  .judul_baris div .garis {
    border: 2px solid #e4b373;
    margin-left: 20px;
    margin-top: 1px;
  }

  .judul_baris div .garis.detail {
    width: 110px;
  }

  .judul_baris div .garis.produk {
    width: 59px;
  }

  .judul_baris div .garis.harga {
    width: 50px;
  }

  .judul_baris div .garis.rekomendasi {
    width: 100px;
  }

  .judul_baris div .span3 {
    font-size: 12px;
    font-weight: 500;
    color: #e4b373;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
  }

  .judul_baris div .span3 img {
    margin-left: 14px;
    width: 7px;
    height: 10px;
  }

  .item_produk {
    width: 1170px; /*325%; */
    margin-top: 20px;
    margin-right: -22px;
  }

  .item_produk .div1 {
    width: 158px;
    height: 205px;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 5px;
  }

  .item_produk img {
    width: 158px;
    height: 147px;
  }

  .item_produk .div2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
  }

  .item_produk .title {
    font-size: 9px;
    font-weight: 400;
  }

  .item_produk .div3 {
    margin-left: 6px;
    margin-top: 0px;
  }

  .item_produk .harga {
    font-size: 11px;
    font-weight: 300;
    color: #c9944f;
  }

  .item_produk a {
    font-size: 10px;
    font-weight: 500;
    width: 80px;
    height: 28px;
    background-color: #e4b373;
    color: white;
    border-radius: 8px;
    float: right;
    margin-right: 6px;
  }

  .item_promo {
    width: 1170px; /*325%; */
    margin-top: 20px;
  }

  .item_promo .div1 {
    width: 158px;
    height: 210px;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 5px;
  }

  .item_promo img {
    width: 158px;
    height: 150px;
  }

  .item_promo .div2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
  }

  .item_promo .title {
    font-size: 9px;
    font-weight: 400;
  }

  .item_promo .div3 {
    margin-left: 6px;
    margin-top: -5px;
  }

  .item_promo .div4 {
    margin-left: 6px;
    margin-top: -15px;
  }

  .item_promo .promo {
    font-size: 9px;
    font-weight: 300;
    color: #808080;
  }

  .item_promo .coret {
    border: 1px solid #808080;
    width: 50px;
    float: right;
    margin-right: 100px;
    margin-top: -11px;
  }

  .item_promo .harga {
    font-size: 11px;
    font-weight: 300;
    color: #c9944f;
  }

  .item_promo a {
    font-size: 10px;
    font-weight: 500;
    width: 80px;
    height: 28px;
    background-color: #e4b373;
    color: white;
    border-radius: 8px;
    float: right;
    margin-right: 6px;
    margin-top: -8px;
  }

  .scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 240px;
  }

  #bottom_navigation_bar {
    z-index: 2;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 60px;
  }

  #bottom_navigation_bar2 {
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ffffff;
    bottom: 20px;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    border: 2px solid #ececec;
  }

  #bottom_navigation_bar2 a {
    /* float: left; */
    display: block;
    color: #717171;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 0px;
  }

  #bottom_navigation_bar2 img {
    width: 18px;
    height: 18px;
  }

  #bottom_navigation_bar2 label {
    margin-top: 5px;
  }

  #bottom_navigation_bar2 a.active {
    color: #e4b373;
    font-weight: 500;
  }

  .detail_produk_mobile {
    background-color: white;
    height: 70px;
    margin-top: -30px;
  }

  .detail_produk_mobile .judul_baris {
    margin-left: 10px;
  }

  .detail_produk_mobile .judul_baris .divImage {
    margin-top: 20px;
  }
  .detail_produk_mobile img {
    width: 9.26px;
    height: 15.5px;
  }

  #detail_mobile {
    margin-left: 15px;
    width: 92.7%;
    min-height: 449px;
    background-color: #e4b373;
    margin-top: -30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 22px;
  }

  #detail_mobile .title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  #detail_mobile .diskon {
    margin-top: 21px;
    margin-right: -20px;
  }

  #detail_mobile .diskon span {
    font-size: 18px;
    font-weight: 300;
    color: #808080;
  }

  #detail_mobile .diskon hr {
    margin-top: -15px;
    border: 2px solid #808080;
    width: 95px;
    margin-left: 0px;
  }

  #detail_mobile .harga {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
  }

  #detail_mobile .harga span {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }

  #detail_mobile .ukuran {
    font-size: 14px;
    font-weight: 400;
  }

  #detail_mobile .ukuran span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .pesan {
    font-size: 14px;
    font-weight: 400;
  }

  #detail_mobile .pesan span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .title_desk {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #detail_mobile .title_desk span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .deskripsi {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
  }

  #detail_mobile .deskripsi span {
    font-size: 14px;
    font-weight: 400;
  }
}

/* TODO LANDSCAPE PHONES */
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 580px) and (max-width: 800px) {
  .website {
    display: none;
  }

  .mobile {
    display: block;
  }

  #header_mobile {
    height: 60px;
    width: 108%;
    margin-top: -12px;
    background-color: white;
  }

  #header_mobile .title {
    margin-top: 14px;
    width: 100%;
  }

  #header_mobile a {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-left: 20px;
  }

  #header_mobile .title2 {
    margin-top: 0px;
    width: 100%;
    margin-left: 20px;
  }

  #header_mobile div .span1 {
    font-weight: 400;
    font-size: 15px;
    color: #c9944f;
  }

  #header_mobile div .span2 {
    font-weight: 500;
    font-size: 15px;
    color: #c9944f;
  }

  #header_mobile .justify-content-end {
    margin-right: 45px;
  }

  #header_mobile div img {
    width: 20px;
    height: 20px;
    margin-right: 25px;
  }

  .judul_baris div {
    margin-top: 0px;
    font-size: 20px;
  }

  .judul_baris div .span1 {
    font-weight: 300;
    margin-left: 20px;
  }

  .judul_baris div .garis {
    border: 2px solid #e4b373;
    margin-left: 20px;
    margin-top: 1px;
  }

  .judul_baris div .garis.detail {
    width: 145px;
  }

  .judul_baris div .garis.produk {
    width: 78px;
  }

  .judul_baris div .garis.harga {
    width: 69px;
  }

  .judul_baris div .span3 {
    font-size: 17px;
    font-weight: 500;
    color: #e4b373;
    float: right;
    margin-right: 22px;
    margin-top: 10px;
  }

  .judul_baris div .span3 img {
    margin-left: 14px;
    width: 10px;
    height: 13px;
  }

  .item_produk {
    width: 1750px; /*230%; */
    margin-top: 30px;
    margin-right: 0px;
  }

  .item_produk .div1 {
    width: 250px;
    height: 340px;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 5px;
  }

  .item_produk img {
    width: 250px;
    height: 250px;
  }

  .item_produk .div2 {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .item_produk .title {
    font-size: 14px;
    font-weight: 400;
  }

  .item_produk .div3 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .item_produk .harga {
    font-size: 18px;
    font-weight: 300;
    color: #c9944f;
  }

  .item_produk a {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 35px;
    background-color: #e4b373;
    color: white;
    border-radius: 8px;
    float: right;
    margin-right: 20px;
  }

  .item_promo {
    width: 1750px; /*230%; */
    margin-top: 30px;
  }

  .item_promo .div1 {
    width: 250px;
    height: 350px;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 5px;
  }

  .item_promo img {
    width: 250px;
    height: 250px;
  }

  .item_promo .div2 {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .item_promo .title {
    font-size: 14px;
    font-weight: 400;
  }

  .item_promo .div3 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .item_promo .div4 {
    margin-left: 10px;
    margin-top: -10px;
  }

  .item_promo .promo {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
  }

  .item_promo .coret {
    border: 1px solid #808080;
    width: 75px;
    float: right;
    margin-right: 173px;
    margin-top: -12px;
  }

  .item_promo .harga {
    font-size: 18px;
    font-weight: 300;
    color: #c9944f;
  }

  .item_promo a {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 35px;
    background-color: #e4b373;
    color: white;
    border-radius: 8px;
    float: right;
    margin-right: 20px;
    margin-top: -8px;
  }

  .scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
  }

  #bottom_navigation_bar {
    z-index: 2;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 80px;
  }

  #bottom_navigation_bar2 {
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    bottom: 20px;
    width: 550px;
    height: 80px;
    border-radius: 12px;
  }

  #bottom_navigation_bar2 a {
    float: left;
    display: block;
    color: #717171;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 40px;
  }

  #bottom_navigation_bar2 img {
    width: 25px;
    height: 25px;
  }

  #bottom_navigation_bar2 label {
    margin-top: 5px;
  }

  #bottom_navigation_bar2 a.active {
    color: #e4b373;
    font-weight: 500;
  }

  .detail_produk_mobile {
    background-color: white;
    height: 70px;
    margin-top: -30px;
  }

  .detail_produk_mobile .judul_baris {
    margin-left: 10px;
  }

  .detail_produk_mobile .judul_baris .divImage {
    margin-top: 20px;
    margin-right: 60px;
  }
  .detail_produk_mobile img {
    width: 9.26px;
    height: 15.5px;
  }

  #detail_mobile {
    margin-left: 15px;
    width: 96.2%;
    min-height: 449px;
    background-color: #e4b373;
    margin-top: -30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 22px;
  }

  #detail_mobile .title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500;
  }

  #detail_mobile .diskon {
    margin-top: 21px;
    margin-right: -20px;
  }

  #detail_mobile .diskon span {
    font-size: 20px;
    font-weight: 300;
    color: #808080;
  }

  #detail_mobile .diskon hr {
    margin-top: -15px;
    border: 2px solid #808080;
    width: 95px;
    margin-left: 0px;
  }

  #detail_mobile .harga {
    margin-top: 16px;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
  }

  #detail_mobile .harga span {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }

  #detail_mobile .ukuran {
    font-size: 14px;
    font-weight: 400;
  }

  #detail_mobile .ukuran span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .pesan {
    font-size: 14px;
    font-weight: 400;
  }

  #detail_mobile .pesan span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .title_desk {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #detail_mobile .title_desk span {
    font-size: 17px;
    font-weight: 400;
  }

  #detail_mobile .deskripsi {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
  }

  #detail_mobile .deskripsi span {
    font-size: 14px;
    font-weight: 400;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 801px) and (max-width: 991.98px) {
  .item_produk {
    width: 1750px;
    margin-top: 20px;
    margin-right: 160px;
  }
}
